# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
server/.env
client/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#uploads files
server/uploads/

# build outputs
dist/
build/

# OS
.DS_Store

# IDE
.idea/
.vscode/